

body{
  background-image: url(img/new1.png);  
  background-size: cover;
}

.container{
  background-color: #000000c0 ;
  width: 500px;
  height: 500px;
  border-radius: 3px;
  position: absolute;
  left: 57%;
  top: 18%;
  box-shadow: 1px 2px 18px 2px rgb(28, 27, 27);
}



.log-in{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #FAB005;
  padding: 30px 0px 30px 0px;
}





form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  

    
}
.input span{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: whitesmoke;
}

.input input{
  height: 25px;
  width: 250px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid white ;
  margin-top: 5px;
  background: transparent;
  color: white;

  
}


.close{
  display: flex;
  justify-content: end;
  padding-right: 10px;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  height: 40px;
  }

.sub{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub input{
  margin-top: 8px;
  height: 40px;
  width: 200px;
  font-size: 14px;
  font-weight: 500;
  background-color:  rgb(244, 244, 244);
  color:  rgb(104, 64, 15);
  border: 1px solid  rgb(104, 64, 15);
  transition: all 0.4s ease;
}
.sub input:hover{
  background-color:  rgb(104, 64, 15);
  color: white;
}

.sub span{
  margin-top: 40px;
  margin-bottom: 40px;
  color: whitesmoke;

}

a{
  text-decoration: none;
}


.message{
  position: sticky;
  top:0;
  left: 0;
  right: 0;
  background-color: white;
  text-align: center;
  z-index: 1000;
}



footer{
  height: 40vh;
  background-color:rgb(20, 19, 19);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  top: 90%;
}

.one{
  height: 40vh;
  width: 300px;
}

.two{
  height: 40vh;
  width: 800px;
  border: 1px solid white;
}

.img-logo1{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.img-logo1 img{
  height: 80px;
  width: 100px;  
}
.img-logo1 span{
  font-size: 17px;
  font-weight: 600;
  color: rgb(228, 221, 221);
}


.social{
  display: flex;
  height: 50px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-evenly;
}

.social img{
  align-items: center;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 30px;
}

.social img:hover{
  opacity: 0.7;
  height: 37px;
}

.order{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.order button{
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  background-color:#FAB005;
  cursor: pointer;
  color: rgb(4, 4, 4);
}

.order button:hover{
  opacity: 0.8;
  
}

.order button:active{
  opacity: 0.6;
}

.cn{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cn span{
  font-size: 20px;
  font-weight: bold;
  color: rgb(228, 221, 221);
}



.con{
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.con span {
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  color: rgb(228, 221, 221);
}

.con span:hover{
  opacity: 0.8;
}

.con img{
  height: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.con img:hover{
  opacity: 0.8;

}

.two form{
  height: 220px;
  
}

.info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}
.ue input{
  height: 25px;
  width: 250px;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  border: 1px rgb(0, 0, 0);

}

.ue img{
  height: 30px;
  margin-right: 2px;
}

.ue{
  display: flex;
  justify-content: center;
  align-items: center;
}

.message{
  height: 120px;
  margin-right: 74px;
  margin-left: 75px;
}
.message textarea{
  resize: none;
  height: 100%;
  width: 585px;
  outline: none;
  border: 1px solid black;
  margin-left: 200px;
}

.submit{
  height: 40px;
  margin-top: 20px;display: flex;
  justify-content: center;
  align-items: center;

}
.submit input{
  padding: 10px 40px 10px 40px;
  font-size: 14px;
  font-weight: bold;
  background-color:#FAB005;
  color: rgb(2, 2, 2);
}

.submit input:hover{
  opacity: 0.7;
}