body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    height: 1500px;
}

.containers{
    height: 100vh;
    margin-top:50px;
    object-fit: cover;
}

.slides{
    height: 100vh;
    overflow: hidden;
    position: relative;
   
}

.slide{
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide 12s infinite;
}
.slide2{
    animation-delay: 4s;
}
.slide3{
    animation-delay: 7s;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%,
    30%{
        opacity: 1;
        scale: 1.03;
    }
    50%{
        opacity: 0;
    }
}

.box{
    height: 100vh;
    background-color: rgb(23, 34, 30);
    background-image: url(img/bg.png );
    background-size: cover;
}
.h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 100px;
    color:  #76453B;
}

.best-seller-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-seller{
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#B19470;
    border: 5px solid #76453B;
 
}
.best-seller img{
    object-fit: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    height: 600px;
    width: 850px;
    background-color:#76453B;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 5px solid  #B19470   ;
   
}
    

 

.macchiato img{
    height: 300px;
    object-fit: cover;
    margin-left: 13px; 
}

.cm span{
    font-size: 30px;
    color: #76453B;
}

.cm p{
    width: 248px;
    text-align: center;
    color:#76453B;
    font-size: 14px;
}


.also{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(226, 219, 219);
    align-items: center ;
}


.best-coffee{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left:9px;
}


.coffee{
    height: 190px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #76453B;
    
    
}

.coffee img{
    height: 150px;
    object-fit: cover;
}

.cart span{
    font-size: 15px;
    color: white;
}


.about-us-container{
    height: 300vh;
    background-color: #fffffe;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 70px;
}

.about-us{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 25px 0px 20px 0px;
    color:  #532d26;
    
}
.content{
    height: 300vh;
    margin: 0px 300px 0px 300px;
    background-color:  #fffffe;
}
.about-img img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.story span{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color:  #532d26;
    padding-top: 20px;

}
.story p{
    font-size: 18px;
    color:  #532d26;
}


    
