.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}



.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}


.menu-price{
    background-color: white;
    width: 800px;
    overflow: hidden;
    top: 25%;
    left: 28%;
    position: fixed;
    height: 450px;
    animation: fadeIn 0.7s ease, expandHeight 0.8s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-price1{
  background-color: white;
  width:450px;
  overflow: hidden;
  top: 0;
  right: 1px;
  position: fixed;
  bottom: 0;
  animation: fadeIn 0.7s ease, expandHeight 0.8s ease forwards;

}

.close{
    float: right;
    font-size: 40px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
  }


.product-img{
    height: 450px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 34, 30);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}
.product-img img{
    height: 250px;
    object-fit: cover;

}
.container2{
  height: 450px;
  width: 460px;
  background-color: #ffffff;
}

.title{
  height: 60px;
  width:100%;
  display: flex;
  text-align: center;
  justify-content: start;
  align-items: center;
 
}

.title span{
  font-size: 25px;
  font-weight: 500;
  margin-left: 40px;
  color: rgb(104, 64, 15);
}

.pd p{
  font-size: 17px;
  margin: 10px 20px 0px 20px;
  color: rgb(104, 64, 15);
}

hr{
  margin: 20px 20px 0px 20px;
}

.qty-container input{
  padding: 5px 0px;
}



.span span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 20px;
  cursor: pointer;
}

.span span:hover{
  opacity: 0.7;
}

.span span:active{
  opacity: 0.4;
}

.qty-container{

  margin: 60px 20px 0px 20px;
}

.carts{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 30px 20px 0px 20px;
 
}
.carts button{
  width: 100%;
  height: 100%;
  border: 2px solid rgb(104, 64, 15);
  border-radius: 1px;
  color: rgb(104, 64, 15);
  cursor: pointer;
  transition: 0.4s ease all;
}


.carts button:hover{
  background-color: rgb(104, 64, 15);
  border: 2px solid white;
  color: #ffffff;
}

.carts button:active{
  opacity: 0.6;
}

.price{
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 40px 20px 0px 20px;
}

.price button{
  font-size: 23px;
  font-weight: bold;
  color: rgb(104, 64, 15);
}


.price span{
  color: rgb(104, 64, 15);
  font-size: 19px;
  font-weight: bold;

}



  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Expand height animation */
  @keyframes expandHeight {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 100%;
      opacity: 1;
    }
  }


