body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.sidebar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: rgb(20, 19, 19);
    
}

.sidebar ul{
    list-style-type: none;
}

.sidebar li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sidebar-nav{
    width: 200px;
    height: 100px;
    margin: 5px 40px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-nav img{
    cursor: pointer;
}
.food-nav li a{
    font-size: 15px;
    font-weight: bold;

}


.menu-name2{
    height: 200px;
    width: 200px;

    
}
.menu-name{
    height: 200px;
    width: 200px;
    
    
}


.menu-names{
    width: 200px;
    overflow: hidden;
    margin-bottom: 100px;
    transition-property: height;
    transition-delay: 0.3s;
    transition-duration: .5s;
    transition-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:start;


}

.menu-names span{
    color: white;
    cursor: pointer;
}
.menu-names span:hover{
    opacity: 0.7;
    
}
.menu-names span:active{
    opacity: 0.5;
}
.menu-names2 span{
    color: white;
    cursor: pointer;
}


.menu-names.open-menu{
    height: 200px;
    
   
}

.menu-name2{
    height: 200px;
    width: 200px;
    
}


.menu-names2{
    width: 200px;
    overflow: hidden;
    margin-bottom: 100px;
    transition-property: height;
    transition-delay: 0.3s;
    transition-duration: .5s;
    transition-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:start;
}

.menu-names2.open-menu2{
    height: 200px;
}

.item-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
}

.item-icon img{
    height: 25px;
    margin: 0px 15px 0px 45px;
}

.item-icon span{
    font-size: 14px;
    font-weight: bold;
}
